#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# zipped lambdas
*.zip

# everything in lambda dir except lambda itself
lambdas/*
!lambdas/get_todos.py
